.dark-mode-on{
  background-color: #0e0e0e !important;
}

/*!
INTRODUCTION 
 */
.introduction,.about,.gallery,.team-dot,.news,.contact{
	padding:4em 0;
  }
  .w3l-heading h3{
    text-align: center;
    color: #e28cc4;
    font-size: 3em;
    font-weight: 700;
    /*text-transform: uppercase;*/
    margin: 0;
    letter-spacing: 2px;
  }
  .w3ls-border{
    background: #ffffff;
    width: 7%;
    margin: 3em auto 0;
    height: 2px;
  }
  .introduction-info,.agileits-about-grids,.agileits-team-grids,.wthree-news-grids {
    margin: 4em 0 0 0;
  }
  .introduction-info p{
	  color: #ffffff;
    font-size: 1.2em;
    margin: 0 auto;
    line-height: 1.8em;
    width: 70%;
    text-align: center;
  }

  .w3l-heading h4{
    text-align: left;
    color: #e28cc4;
    font-size: 1.5em;
    font-weight: 700;
    /*text-transform: uppercase;*/
    margin: 0;
    letter-spacing: 2px;
  }

  .introduction-info-2col{
    text-align: justify;
    text-align-last: left;
    color: #ffffff;
    font-size: 1em;
    margin: 0 auto;
    line-height: 1.8em; 
  }

  .introduction-info-2col a{
    color: #e28cc4; 
  }

  .introduction-info-2col a:hover{
    color: #ffffff; 
  }

  .video-info p{
    margin: 2em 0 0 0;
    color: #ffffff; 
    font-size: 0.8em;
    line-height: 1em; 
    text-align: center;
  }


  /*!
BUTTON
*/

.btn-sweetpotato{
  background-color: #e28cc4;
  border-radius: 25px;
  color: white;

  font-size: 1em;
}

.btn-sweetpotato-footer{
  background-color: #e28cc4;
  color: white;
}
  /*!
FOOTER 
 */

 .footer {
	padding:4em 0;
  }
  .w3l-footer h3{
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
  }
  .w3ls-footer-border{
    background: #ffffff;
    width: 50%;
    margin: 1em auto 0;
    height: 2px;
    
  }
  .footer {
    margin: 4em 0 0 0;
  }
  .footer-info p{
      color: #ffffff;
    padding-top: 20px;
    font-size: .8em;
    margin: 0 auto;
    line-height: 1.8em;
    width: 70%;
    text-align: left;
  }

.sosmed-member{
  text-align: center;
  word-spacing: 20px;
  font-weight: 100;
  color:white;
}

   /*!
Carousel image set PAGE
 */

 .carousel-cover-image {
/*Centering in the viewport in CSS level 3*/
object-fit: cover;
height: 400px;
position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0);
}

  /*!
Gallery image Cover
 */
 /* https://stackoverflow.com/questions/29677792/set-width-according-to-height */
 /* https://stackoverflow.com/questions/54381244/image-wrapper-css */
/* the wrapper has a width */
.wrapper {
  position: relative;
  width: 100%;
  
}
/* these elements set the height (using padding-bottom) */
.square {
  padding-bottom: 100%;
  position: relative;
}
.widescreen {
  padding-bottom: 56.25%; /* 9/16 = 0.5625 */
}

/* 
 * This is the content. 
 * Needs position:absolute to not add to the width of the parent 
 */
.content-gallery {
  /* fill parent */
  position: absolute;  
  top: 0; bottom: 0;
  left: 0; right: 0;
  
}

.cover-image-gallery{
  display: inline-block;
  width: 100%;
  height: 100%;
  background: 
    var(--img) center/cover; /* read from this file location*/
  border-radius: 10px;
  box-shadow: 
   0 5px 10px 0px rgba(0,0,0,0.22), 
   0 10px 13px 0px rgba(0,0,0,0.34), 
   inset 0 18px 18px 0 rgba(255,255,255,0.35), 
   inset 0 -18px 18px 0 rgba(0,0,0,0.10);
}




   /*!
NAVBAR
 */
 .navbar {
  background-color: black !important;
 }

 .nav-active
 {
    font-weight: bold;
 }

 .dropdown-menu-center {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

 
/*
  FORM CONTACT
*/

.form-sweetpotato label{
  color:#e28cc4;
}

/* ANIMATION Top and Bottom borders go out */
div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}


 /*
.bg-cover-jumbotron {
 

 
}
*/

.edit-profile.active {
  border-radius: 25px;
  background-color: #3399FF;
  color: white;
  font-weight: bold;
}

.save {
  border-radius: 25px;
  background-color: #3399FF;
  color: white;
  font-weight: bold;
}

.back {
  border-radius: 25px;
  background-color: #FF3333;
  color: white;
  font-weight: bold;
}

/*
Scrollbar Table
*/

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

/*
8 Grid
*/

.col-xs-8r,
.col-sm-8r,
.col-md-8r,
.col-lg-8r {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-8r {
    width: 12.5%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-8r {
        width: 12.5%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-8r {
        width: 12.5%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-8r {
        width: 12.5%;
        float: left;
    }
}
